<div class="sticky top-0 z-50">
    <div class="navbar w-full h-[60px] bg-slate-900 flex justify-center">
        <div class="w-[1400px] h-full flex justify-between">
            <div class="iconShop w-[300px]">
                <img [routerLink]="['']" class="w-full h-full object-fill cursor-pointer" src="../../../../assets/img/ui/logo.png">
            </div>
            <div class="cart flex items-center cursor-pointer">
                <span class="cart__icon material-symbols-outlined text-sky-400 text-4xl mr-2">garden_cart</span>
                <span class="cart__text text-sky-400 text-base">Bạn đang có (1) sản phẩm</span>
            </div>
        </div>
    </div>
    <div class="menubar w-full h-[40px] bg-slate-100 flex justify-center">
        <div class="w-[1400px] h-full">
            <div class="menu w-full h-full flex align-center">
                <a [routerLink]="['/product/catalog/' + catalog.id]" target="_blank" (click)="commonService.setIndexMenu(catalog.id)" [class]="{active: commonService.getIndexMenu() == catalog.id}" *ngFor="let catalog of catalogList; let i = index" class="menu__item w-[150px] flex items-center justify-center mr-2 cursor-pointer">
                    <img  class="item__img w-[auto] h-[25px]" [src]="catalog.iconLink">
                    <span class="item__text text-base ml-2">{{catalog.name}}</span>
                </a>
            </div>
        </div>
    </div>
</div>